[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "awesome/.config/awesome/libraries/librarian"]
	path = awesome/.config/awesome/librarian
	url = https://github.com/vladgor/awesome-librarian
[submodule "st/src/st"]
	path = st/src/st
	url = https://github.com/vladgor/st
