vim/.vim/swap
vim/.vim/backup
vim/.vim/undo
vim/.vim/.netrwhist

kitty/.config/kitty/cached.json

termite/.config/gtk-3.0/bookmarks
termite/.config/gtk-3.0/settings.ini

vim/.vim/autoload/plug.vim.old

qutebrowser/.config/qutebrowser/
!qutebrowser/.config/qutebrowser/config.py

fonts/.local/share/fonts/.uuid
fonts/.local/share/fonts/**/.uuid
fonts/.local/share/fonts/local

newsboat/.config/newsboat/config.local

zsh/.config/zsh/.zsh/local.sh
zsh/.config/zsh/.zsh/tmp/*
!zsh/.config/zsh/.zsh/tmp/.gitkeep
