vim/.vim/swap
vim/.vim/backup
vim/.vim/undo
vim/.vim/plugged
vim/.vim/.netrwhist
kitty/.config/kitty/cached.json
termite/.config/gtk-3.0/bookmarks
termite/.config/gtk-3.0/settings.ini
vim/.vim/autoload/plug.vim.old
fonts/.fonts/.uuid
